.bodyPerfil{
  border: 1px solid red;
  width: 99%;
  height: 99%;
  margin:0 auto;
  .imagemPerfil{
    position: relative;
    left: 90%;
    border-radius: 60px;
    height: 150px;
    width: 150px;
  }
}

